.App{
  background-color: #afd4c0
}
.houseBox{
  display:flex;
  background-color: #dedede;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    margin: 20px;
    height: 300px;
    width: 500px
}
.dash{
  background-color: #e5f4ec;
  width: 600px;
  margin:auto
}
.header{
  background-color: #519872
}
button{
  border-radius: 10px;
  border: none;
 background-color: #fec2c2
}
.wizard{
  margin: auto;
  width: 600px;
  background-color: #e5f4ec;
}